body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3rem;
  color: rgb(98, 7, 150);
}

#wise-paas {
  display: block;
  max-width: 80vw;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}